<h1>Your recommended ties</h1>

<div class="all-profiles">
  <!-- Show profiles that someone else has recommended to the current user -->
  <% @referrals.each_with_index do |referral, index| %>
    <div class="profile-card">
      <%= link_to user_path(referral.id) do %>
        <div class="profile-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path referral.photos.first.key %>')"></div>
      <% end %>
        <div class="profile-info">
          <p></p>
        </div>
        <div class="card-controls">
          <%= link_to "Request", request_path(referral.id), :method=> :patch, remote: true, class: "primary-button" %>
          <%= link_to "Reject", reject_path(referral.id), :method=> :patch, remote: true, class: "primary-button" %>
        </div>
    </div>
  <% end %>

  <!-- Show profiles that requested to connect with current user -->
  <% @requested.each_with_index do |referral, index| %>
    <div class="profile-card">
      <%= link_to user_path(referral.id) do %>
        <div class="profile-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path referral.photos.first.key %>')"></div>
      <% end %>
        <div class="profile-info">
          <p></p>
        </div>
        <div class="card-controls">
          <%= link_to "Accept", accept_path(referral.id), :method=> :patch, remote: true, class: "primary-button" %>
          <%= link_to "Reject", reject_path(referral.id), :method=> :patch, remote: true, class: "primary-button" %>
        </div>
    </div>
  <% end %>
</div>

<!--
  1. Show profiles that are recommended to me so that I can request
    Conditions: Cannot be a tie already | Cannot be
  2. Then show profiles that have made a request to me so that I can accept
  3. Then show ties so that I can refer
-->
