<div class="ref-groups">
  <div class="to-group">
      <%= link_to user_path(@to_user) do %>
        <div class="to-tie-card">
          <% if @to_user.photos.attached? %>
            <div class="tie-image-box"> <%= cl_image_tag @to_user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
          <% else %>
            <div class="tie-image-box" style="background-image: url('<%= image_path("person_with_hat.jpg", width: 100, height: 100, gravity: :face, crop: :thumb) %>')"> </div>
          <% end %>
          <div class="tie-info-box">
            <div class="tie-texts">
              <h5 class="mb-0"> <%= truncate(@to_user.first_name, length:10) %> <%= truncate(@to_user.last_name, length:15) %> </h5>
            </div>
            <div class="tie-interests">
              <% if @to_user.interests.present? %>
                <% @to_user.interests.each_with_index do |interest, index| %>
                  <span class="badge badge-secondary"> <%= interest.name %> </span>
                <% end %>
              <% end %>
            </div>
          <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= @to_user.status %> </p></div>
        </div>
      </div>
    <% end %>
  </div>
  <h6 class="ml-2 mr-2">Who would you like to refer <strong><%= @to_user.first_name %></strong> to?</h6>
  <div class="search-bar">
  <%= simple_form_for :search_by_interest, url: new_referral_path(selected_user: @to_user.id), method: :get do |f| %>
    <div class="search-form-control form-group row g-3">
      <div class="col-sm-8 mb-2">
          <%= text_field_tag :query,
            params[:query],
            type: "search",
            class: "form-control string required",
            placeholder: "Search your ties by name or interest"
          %>
          <%= f.hidden_field :selected_user, value: @to_user.id %>
      </div>
    <div class="col">
      <button name="button" type="submit" class="primary-button">
        <i class="fas fa-search" style="font-size: 15px;"></i> Search
      </button>
      <%= link_to "Clear", new_referral_path(selected_user: @to_user.id), method: :get, class: "ghost-button" %>
    </div>
  </div>
<% end %>
</div>
  <div class="tie-group">
    <% if (@users.blank? && @existing_referral_users.blank? && @existing_ties_users.blank?) %>
      <div class="tie-card">
          <div class="no-tie-texts">
            <h6 class="mb-4">Sorry, you don't have ties to select</h6>
          </div>
      </div>
    <% else %>
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="tie-card">
            <% if user.photos.attached? %>
              <div class="tie-image-box"> <%= cl_image_tag user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
            <% else %>
              <div class="tie-image-box" style="background-image: url('<%= image_path("person_with_hat.jpg", width: 100, height: 100, gravity: :face, crop: :thumb) %>')"> </div>
            <% end %>
            <div class="tie-info-box">
              <div class="tie-texts">
                <div class="tie-name">
                  <h5 class="mb-0"> <%= truncate(user.first_name, length:10) %> <%= truncate(user.last_name, length:15) %> </h5>
                </div>
                <!-- 1. If to_user has already been referred to the same person by current_user earlier, do not display -->
                <% if params[:selected_recommended_user] && params[:selected_recommended_user].to_i == user.id %>
                  <%= link_to "Unselect", new_referral_path(selected_user: @to_user.id), class: "ghost-button mb-0"%>
                <% else %>
                  <%= link_to "Select", new_referral_path(selected_user: @to_user.id, selected_recommended_user: user.id, query: params[:query]),
                  class: "ghost-button mb-0", 'data-turbolinks-scroll': false %>
                <% end %>
              </div>
              <div class="tie-interests">
                <% if user.interests.present? %>
                  <% user.interests.each_with_index do |interest, index| %>
                    <span class="badge badge-secondary"> <%= interest.name %> </span>
                  <% end %>
                <% end %>
              </div>
              <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= user.status %> </p></div>
            </div>
          </div>
        <% end %>
        <!-- If param.selected then show form -->
        <!-- 2 params, selected and id of the selected -->
        <% if params[:selected_recommended_user].to_i == user.id %>
        <div class="referral-form">
          <%= simple_form_for [ @referral] do |f| %>
            <%= f.input :reason, label: 'Enter some details about your referral' %>
            <%= f.hidden_field :to_user, value: @to_user.id %>
            <%= f.hidden_field :recommended_user_id, value: user.id %>
            <%= f.button :submit, 'Submit referral', class: "primary-button" %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <% @existing_referral_users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="tie-card">
            <% if user.photos.attached? %>
              <div class="tie-image-box"> <%= cl_image_tag user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
            <% else %>
              <div class="tie-image-box" style="background-image: url('<%= image_path("person_with_hat.jpg", width: 100, height: 100, gravity: :face, crop: :thumb) %>')"> </div>
            <% end %>
            <div class="tie-info-box">
              <div class="other-tie-texts">
                <h5 class="mb-0"> <%= truncate(user.first_name, length:10) %> <%= truncate(user.last_name, length:15) %> </h5>
                <p class="advice-text"><i class="fas fa-info-circle"></i> You already referred <%= @to_user.first_name %> and <%= user.first_name %> to connect</p>
              </div>
              <div class="tie-interests">
                <% if user.interests.present? %>
                  <% user.interests.each_with_index do |interest, index| %>
                    <span class="badge badge-secondary"> <%= interest.name %> </span>
                  <% end %>
                <% end %>
              </div>
              <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= user.status %> </p></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @existing_ties_users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="tie-card">
            <% if user.photos.attached? %>
              <div class="tie-image-box"> <%= cl_image_tag user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
            <% else %>
              <div class="tie-image-box" style="background-image: url('<%= image_path("person_with_hat.jpg", width: 100, height: 100, gravity: :face, crop: :thumb) %>')"> </div>
            <% end %>
            <div class="tie-info-box">
              <div class="other-tie-texts">
                <h5 class="mb-0"> <%= truncate(user.first_name, length:10) %> <%= truncate(user.last_name, length:15) %> </h5>
                <p class="advice-text"><i class="fas fa-info-circle"></i> <%= @to_user.first_name %> and <%= user.first_name %> are already ties</p>
              </div>
              <div class="tie-interests">
                <% if user.interests.present? %>
                  <% user.interests.each_with_index do |interest, index| %>
                    <span class="badge badge-secondary"> <%= interest.name %> </span>
                  <% end %>
                <% end %>
              </div>
              <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= user.status %> </p></div>
            </div>
          </div>
        <% end %>
  <% end %>
</div>
