<h3>My Ties</h3>
<div class="tie-group">
  <% @users.each do |user| %>
      <div class="tie-card">
        <% if user.photos.attached? %>
          <div class="tie-image-box"> <%= cl_image_tag user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
        <% else %>
          <div class="tie-image-box" style="background-image: url('<%= image_path("background.jpg") %>')"> </div>
        <% end %>
        <div class="tie-info-box">
          <div class="tie-texts">
            <h5> <%= user.first_name %> <%= user.last_name %> </h5>
            <!-- Note that below path is there just for demo purposes -->
            <%= link_to "Refer", referrals_path, class: "primary-button" %>
          </div>
          <div class="tie-interests">
            <% if user.interests.present? %>
              <i class="fas fa-info-circle"></i>
              <% user.interests.each do |interest| %>
                <span class="badge badge-secondary"> <%= interest.name %> </span>
              <% end %>
            <% end %>
          </div>
          <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= user.status %> </p></div>
        </div>
      </div>
  <% end %>
</div>
