<h3>My Ties</h3>
<div class="tie-group">
  <% if @users.blank? %>
    <div class="tie-card d-flex justify-content-around">
      <h6>You don't have any ties yet.</h6>
      <!-- Link path below is not right and needs to be updated later on -->
      <%= link_to "Add ties", root_path, class: "primary-button" %>
    </div>
  <% else %>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="tie-card">
          <% if user.photos.attached? %>
            <div class="tie-image-box"> <%= cl_image_tag user.photos.first.key, width: 100, height: 100, gravity: :face, crop: :thumb %> </div>
          <% else %>
            <div class="tie-image-box" style="background-image: url('<%= image_path("person_with_hat.jpg", width: 100, height: 100, gravity: :face, crop: :thumb) %>')"> </div>
          <% end %>
          <div class="tie-info-box">
            <div class="tie-texts">
              <div class="tie-name">
                <h5 class="mb-0"> <%= truncate(user.first_name, length:10) %> <%= truncate(user.last_name, length:15) %> </h5>
              </div>
              <%= link_to "Refer", new_referral_path(selected_user: user), class: "primary-button mb-0" %>
            </div>
            <div class="tie-interests">
              <% if user.interests.present? %>
                <% user.interests.each_with_index do |interest, index| %>
                  <% break if index > 2 %>
                  <span class="badge badge-secondary"> <%= interest.name %> </span>
                <% end %>
              <% end %>
            </div>
            <div class="tie-status"><p> <i class="fas fa-lightbulb"></i> <%= user.status %> </p></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
