<!-- app/views/chatrooms/show.html.erb -->
<h1>The chat between <%= @tie.user1.first_name %> and <%= @tie.user2.first_name %> </h1>
<div id="messages" data-tie-id="<%= @tie.id %>">
  <% @tie.messages.each do |message| %>
    <%= render partial: "messages/message", locals: {message: message} %>
  <% end %>
</div>

<%= simple_form_for [ @tie, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message"%>
  <%= f.submit  %>
<% end %>
