<div class="banner">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-10 p-4" style="background-color: rgba(255,255,255,0.6); border-radius: 5px;">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: false,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: 'Email e.g. john@email.com'
            %>
            <%= f.input :password,
                        label: false,
                        required: false,
                        input_html: { autocomplete: "current-password" },
                        placeholder: 'Enter password'
            %>
            <div class="d-flex justify-content-between">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <div class="form-actions">
                <%= f.button :submit, "Log in" , class: "btn btn-primary btn-sm"%>
              </div>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>


<!--
<a href="#" id='aLogin' data-toggle="modal" data-target="#modalLogin" hidden=1>Clic ME!</a>
-->


<!-- Modal for login -->
<div class="modal fade" id="modalLogin"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255,255,255,0.4); border-radius: 5px;">
 <!--      <div class="modal-header text-center">
        <h4 class="modal-title w-100 ">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">

          <div class="d-flex justify-content-center align-items-center">
            <div class="col-10 p-4">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email,
                              label: false,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" },
                              placeholder: 'Login email: john@email.com'
                  %>
                  <%= f.input :password,
                              label: false,
                              required: false,
                              input_html: { autocomplete: "current-password" },
                              placeholder: 'Enter password'
                  %>
                  <div class="d-flex justify-content-between">
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                    <div class="form-actions">
                      <%= f.button :submit, "Log in" , class: "btn btn-primary btn-sm"%>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="d-flex justify-content-between align-items-center">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>



<script>

  // Should create a JS script in Javascript/pack directory, and kick off using Applicaiotn.js
  const aLogin = document.getElementById('aLogin');
  if (aLogin) {
    document.addEventListener('turbolinks:load', () => {
      aLogin.click();
    });
  }
</script>
